/* 
    Document   : danielstyle
    Created on : 13-nov-2012, 20:43:32
    Author     : Botje
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.tagendaavail {
	width:50px;
	position:float;
	height:50px;
	border:5px solid green;
	
        /* Stijl voor de agenda per vakje beschikbaar*/
}
.tagendafull {
	width:50px;
	position:relative;
	height:50px;
	border:5px solid red;
        
	
        /* Stijl voor de agenda per vakje Vol*/
}
.tagendabusy {
	width:50px;
	position:relative;
	height:50px;
	border:5px solid orange;
	
        /* Stijl voor de agenda per vakje druk*/
}