/* 
    Document   : Danielstyle
    Created on : 11-12-2012
    Author     : Daniel
*/

root { 
    display: block;
}

#table_agenda
{
	
	width: 650px;
	height: 300px;
        table-layout: fixed;
}

#table_agenda td
{
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.agendaavail {
	width:14%;
	position:float;
	height:50px;
	border:5px solid #008000;
	
        /* Stijl voor de agenda per vakje beschikbaar*/
}
.agendabusy {
	width:14%;
	position:relative;
	height:50px;
	border:5px solid #FFA500;
}
.agendafull {
	width:14%;
	position:relative;
	height:50px;
	border:5px solid #FF0000;
        
	
        /* Stijl voor de agenda per vakje Vol*/
}
.agendaholiday {
	width:14%;
	position:relative;
	height:50px;
	border:5px #000000 solid;
        background: niet beschikbaar;
        
	
        /* Stijl voor de agenda per vakje Vol*/
}

	
        /* Stijl voor de agenda per vakje druk*/


#legendaavail
{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid #008000;  
}
#legendabusy{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid #FFA500;
        color:red;
}

#legendafull{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid #FF0000;
}

#legendavacancy{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid #000000;
}