/* 
    Document   : danielstyle
    Created on : 13-nov-2012, 20:43:32
    Author     : Botje
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#table_agenda
{
	border: 1px solid black;
	width: 100%;
	height: 300px;
}

#table_agenda td
{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.agendaavail {
	width:14%;
	position:float;
	height:50px;
	border:5px solid green;
	
        /* Stijl voor de agenda per vakje beschikbaar*/
}
.agendabusy {
	width:14%;
	position:relative;
	height:50px;
	border:5px solid orange;
}
.agendafull {
	width:14%;
	position:relative;
	height:50px;
	border:5px solid red;
        
	
        /* Stijl voor de agenda per vakje Vol*/
}
.agendaholiday {
	width:14%;
	position:relative;
	height:50px;
	border:5px solid;
        background: niet beschikbaar;
        
	
        /* Stijl voor de agenda per vakje Vol*/
}

	
        /* Stijl voor de agenda per vakje druk*/


#legendaavail
{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid green;  
}
#legendabusy{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid orange;
        color:red;
}

#legendafull{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid red;
}

#legendavacancy{
        width:50px;
	position:relative;
	height:50px;
	border:5px solid black
}