/* 
    Document   : sanderstyle
    Created on : 13-nov-2012, 20:48:45
    Author     : Sander
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div#aanmelden {
    margin: 25px;
}