/* 
    Document   : sanderstyle
    Created on : 13-nov-2012, 20:48:45
    Author     : Sander
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div#aanmeldenklant {
    margin: 25px;
}

table#aanmeldenklant {
    border: 0px none;
}

table#aanmeldenklant td {
    border: 0px none;
}

select#bestellendproducten {
    width: 156px;    
}

table#bestellenproducten {
    border: 0px none;
}
