/* 
    Document   : style
    Created on : 13-nov-2012, 11:56:16
    Author     : Jelle
    Updated    : 15-11-2012 by Jelle
    Description: General stylesheet for the site.
*/
/* Begin standaard css styling */
root { 
    display: block;
}
body{
    /* fix voor standaard margin door browsers */
    margin: 0px;
    padding: 0px;
}
div.spacer{
    /* Div om juiste gedrag bij float styling af te dwingen.*/
    clear:both;
}
div#wrapper{
    /*Maakt de website standaard 1024 breed en d.m.v. margin auto komt deze in het midden van de browser te staan.*/
    width: 1024px;
    margin: 0px auto;
}
/* Einde standaard styling */

div#header{
    background-image: url('afbeeldingen/header.png');
    background-repeat: no-repeat;
    margin-bottom: 10px;
    height: 129px;
    background-color: lightblue;
    z-index: 1;
}
div#contact-info-header{
    margin-top: 10px;
    float: right;
    width: 250px;
    z-index: 10;
}
div#menu{
    height: 50px;
    background-color: yellow;
    margin-bottom: 10px;
}

div#contentwrapper{
   width: 1024px;
   margin-bottom: 10px;
}
div#content-left{
    width: 200px;
    float: left;
    margin-right: 50px;
    background-color: red;
    min-height: 300px;
}
div#content-right{
    float: left;
    background-color: green;
    width: 774px;
    min-height: 300px;
}
div#footer{
    text-align: center;
}