/* 
    Document   : Thomstyle
    Created on : 13-nov-2012, 20:50:14
    Author     : Thom
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div#categories {
    width: 225px;
    float: left;
    
    
}
div#bestellenproducten {
    width: 450px;
    float: left;
    height: 300px;
    
}

div#bestellenproductenrechts {
    width: 300px;
    float: left;
    height: 300px;
    
}

div#resultaten {
    width: 225px;
    float: left;
    
}

div#productinfo {
    width: 225px;
    float: left;
    
    
}

div#bestelknop {
    height: 25px;
  
 
}

select { 
    width: 150px;
    color: blue;
    
}

div#bereken{
    height : 300px;
}




tdo {
    border: 1px solid black;
}

.vet {
    font-weight: bold;
}


